@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  --tw-bg-opacity: 1;
  background-color: rgb(26 28 36 / var(--tw-bg-opacity));
  font-family: Flama, sans-serif;
  font-size: .9375rem;
  font-weight: 400;
  line-height: 1.5;
  --tw-text-opacity: 1;
  color: rgb(146 147 166 / var(--tw-text-opacity));
  -webkit-font-smoothing: antialiased;
}

@layer components {
  .btn {
    @apply bg-[#12b488] text-white px-3 py-2 rounded-md text-sm text-white;
  }
  .card {
    @apply p-3 rounded-md bg-white shadow-md h-full;
  }
}